.Board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: beige;
}

.panel-info {
  width: 400px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flags-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flags-counter span {
  margin-right: 10px;
  font-size: 18px;
}

.timer-box {
  font-size: 18px;
}

button {
  border: 2px solid #009688;
  border-radius: 5px;
  display: flex;
  padding: 7px;
  cursor: pointer;
  background-color: transparent;
}

.gameover {
  width: 400px;
  height: 400px;
  background-color: rgb(255 147 147 / 72%);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 40px;
  color: #FFF;
  font-family: 'Arial';
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}