.Square {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: cadetblue;
  cursor: pointer;
  user-select: none;
}

.Square:hover {
  background-color: #FFF;
}


.Square.hasMine {
  background-color: #f44336;
}

.Square.hasChecked {
  background-color: bisque;
}
